<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <title>Hello, world!</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        h1 {
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;
            font-size: 28px;
            font-weight: 700;
        }

        .product-row {
            border-bottom: solid 1px #ccc;
            padding-top: 15px;
            margin-bottom: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        .product-row img {
            width: 100px;
        }

        .product-row p {
            font-size: 15px;
            line-height: 25px;
        }

        h2 {
            font-size: 22px;
            font-weight: 700;
            color: #212121;
        }

        .price {
            text-align: right;
        }

        .product-id {
            text-align: right;
        }

        .product-id {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .price {
            font-size: 20px;
            font-weight: 600;
            color: #585353;
        }

        .discount {
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <h1>Product Details</h1>

    <div class="container">
        <%apidata.forEach((x)=>{%>
            <div class="row product-row">
                <div class="col-lg-2">
                    <img src="<%=x.image%>%>" width="100%">
                </div>
                <div class="col-lg-7">
                    <h2>
                        <%=x.title%>%>
                    </h2>

                    <div class="content">
                        <p>
                            <%=x.description%>%>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="product-id">
                        <div class="price">Price : ₹ <%=x.price%>%></div>
                        <div class="discount">discount <%=x.id%>%>%off</div>
                    </div>
                </div>
            </div>

            <%})%>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>