<h1>ForEach Loop</h1>
<%studentlist.forEach((x)=>{%>
    Id = <%=x.id %>,  Name = <%=x.name %>, Age = <%=x.age %><br>
    <%})%>


    <h1>Forof Loop</h1>

    <%for(let x of studentlist){%>
        Id = <%=x.id %>,  Name = <%=x.name %>, Age = <%=x.age %><br>
        <%}%>